@font-face {
    font-family: 'Film P3';
    src: local('Film P3 Bold'), local('Film-P3-Bold'),
        url(src/font/'FilmP3Bold.woff2') format('woff2'),
        url(src/font/'FilmP3Bold.woff') format('woff'),
        url(src/font/'FilmP3Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }